			input:focus, 
			textarea:focus {
				outline: none;
			}

			label, 
			select, 
			button,  
			input[type="radio"], 
			input[type="checkbox"]{
				cursor: pointer;
			} 
			/*input { 
			  border:0; 			  
			  margin-bottom:1px;
			  border:1px solid #eee;
			}*/
			
			#loader{
				position: absolute;
				top: 10%;
				right: 5%;
				z-index: 9999;
			}
			
			#search_suggestion_holder2{
				list-style: none;
				display:none;
				border-bottom: 1px #f8f8f8;
				border-left: 1px solid #f8f8f8;
				border-right: 1px solid #f8f8f8;
				border-style: solid;
				border-top: none;
			}
			
			#search_suggestion_holder2 li:hover{
				background-color: #FAFAFA;
			}
			.selected{
				background-color: #FAFAFA !important;
			}
			
			#search_suggestion_holder2 li{
				cursor: pointer;
				display: block;
				background-color: #f0f0f0;
				color: #000;
				padding: 4px;
				margin-bottom: 0px;
				border-bottom: 1px solid #ddd;
				width:109%;
				text-shadow: 1px 1px 4px #fff;
				-webkit-text-shadow: 1px 1px 4px #fff;
				-moz-text-shadow: 1px 1px 4px #fff;
			}
			
			#search_suggestion_holder2 li .left{
				float:left;
				color: #000;
				padding: 1px;
				width:30%;
				border-right: 1px solid #ddd;
			}
			
			#search_suggestion_holder2 li .right{ 
				color: #000;
				padding: 4px; 
				width:70%;
			}
			#loader{
				display:none;
			}
			.none{
				display:none;
			}
			li.nopadding {
				padding:0px; margin-left:-30px;
			}/* CSS Document */

